//color variable
$baseBg: #050709;
$primary-color: #4f5a65;
$secondary-color: #00a566;
$danger: #f64747;
$success: #3498db;

.main-header {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background: $baseBg;
	box-shadow: 0 2px 6px rgba(164, 165, 165, 0.425);
	padding: 0 1rem;
	z-index: 5;
}

main {
	margin-top: 5rem;
	width: 100vw;
	display: flex;
	justify-content: center;
}

@media (min-width: 768px) {
	.main-header {
		justify-content: space-between;
	}
}
