.nav-links {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-links li {
	margin: 1rem;
}

.nav-links a {
	color: #292929;
	text-decoration: none;
	padding: 0.5rem;
	font-size: 1rem;
	text-transform: uppercase;
	transition: 0.5s;
	border-radius: 10px;
	background: linear-gradient(225deg, #f0f0f0, #cacaca);
	box-shadow: -3px 5px 5px #b6b6b6, 4px -2px 3px #ffffff;
	font-weight: 500;

	::after {
		position: absolute;
		content: "";
		top: 100%;
		left: 0;
		width: 100%;
		height: 3px;
		transition: transform 0.5s;
	}
	&:hover {
		color: #48a6ff;
	}
	&:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.nav-links a:active,
.nav-links a.active {
	color: #48a6ff;
	font-weight: 800;
	border-radius: 10px;
	background: #e0e0e0;
	box-shadow: inset -6px 6px 4px #b8b8b8, inset 8px -8px 5px #ffffff;
}

.nav-links button {
	cursor: pointer;
	color: #292929;
	padding: 0.1rem;
	font: inherit;

	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 10px;
	background: linear-gradient(225deg, #bebdbd, #ffffff);
	box-shadow: -3px 5px 5px #84afe0, 4px -2px 3px #c1f0ff;
}

.nav-links button:focus {
	outline: none;
}

.nav-links button:hover,
.nav-links button:active {
	background: linear-gradient(225deg, #bebdbd, #ffffff);
	color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
	.nav-links {
		flex-direction: row;
	}

	.nav-links li {
		margin: 0 0.5rem;
	}

	.nav-links a {
		color: rgb(0, 0, 0);
		text-decoration: none;
	}

	.nav-links button {
		border: none;
		color: rgb(0, 0, 0);
	}

	.nav-links button:hover,
	.nav-links button:active {
		background: linear-gradient(225deg, #9ce8fc, #ffffff);
		color: #292929;
	}
}
