.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0px;
  padding: 0.6em 0.6em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.btn a {
  text-decoration: none;
  color: #000000;
}

.btn:hover {
  color: black;
  outline: 0;
}

.btn--form {
  border-color: #f1c40f;
  color: black;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn--form:hover {
  background-position: 0;
}

.btn--upload {
  border-color: #4f9bff;
  color: black;
  background-image: linear-gradient(45deg, #4f9bff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn--upload:hover {
  background-position: 0;
}

.btn--link {
  border-color: #000000;
  color: black;
  background-image: linear-gradient(45deg, #000000 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  margin-left: 10px;
}

.btn--link:hover {
  background-position: 0;
}

.btn--link:hover {
  color: white;
  outline: 0;
}

.btn--link:hover a {
  text-decoration: none;
  color: #ffffff;
}

.btn--edit {
  border-color: #b76aff;
  color: black;
  background-image: linear-gradient(45deg, #b76aff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  margin-left: 10px;
}

.btn--edit:hover {
  background-position: 0;
}

.btn--edit:hover {
  color: white;
  outline: 0;
}

.btn--edit:hover a {
  text-decoration: none;
  color: #ffffff;
}

.btn--create {
  border-color: #6ac8ff;
  color: black;
  background-image: linear-gradient(45deg, #6ac8ff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  margin-left: 10px;
}

.btn--create:hover {
  background-position: 0;
}

.btn--create:hover {
  color: white;
  outline: 0;
}

.btn--create:hover a {
  text-decoration: none;
  color: #ffffff;
}

.btn--danger {
  border-color: #ff3737;
  color: black;
  background-image: linear-gradient(45deg, #ff3737 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  margin-left: 10px;
}

.btn--danger:hover {
  background-position: 0;
}

.btn--danger:hover {
  color: white;
  outline: 0;
}

.btn--danger:hover a {
  text-decoration: none;
  color: #ffffff;
}

.btn--stretch {
  grid-column: 1/-1;
}
/*# sourceMappingURL=Button.style.css.map */