.card {
	margin: 0;
	padding: 1rem;
	overflow: hidden;
	border-radius: 13px;
}

.update-todo {
	width: 90%;
}
.new-todo {
	width: 90%;
}

.todos-list--empty {
	color: #000000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto auto;
	align-items: center;

	p {
		margin: 0;
		padding: 0;
	}
	img {
		grid-row: 1;
		grid-column: 1/-1;
		width: 70%;
		align-self: center;
		justify-self: center;
	}

	h2 {
		grid-column: 1/-1;
		text-align: center;
		font-size: 1.5em;
		color: black;
	}
}
