body,
#root {
  margin: 0;
  padding: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.form-container {
  background-color: #333;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 5px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 40px 1fr 5fr;
      grid-template-rows: 40px 1fr 5fr;
}

.form-title {
  grid-column: 1/-1;
  margin-top: 20px;
  line-height: 20px;
  color: #ffff;
  font-weight: 600;
}

.home-img {
  width: 220px;
  height: 150px;
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.form-elements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  padding-top: 30px;
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: 1/-1;
  background-color: #489dec;
  width: 100%;
  border-radius: 70px 70px 0px 0px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-shadow: 2px 4px 4px #0000002f;
          box-shadow: 2px 4px 4px #0000002f;
}

.form-group {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0px 20px 0px 20px;
  position: relative;
}

.form-group input {
  height: 2.3rem;
  padding-left: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 2px 4px 4px #0000002f;
          box-shadow: 2px 4px 4px #0000002f;
}

.form-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group label span {
  color: #333232;
}

.gender-field {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0px 20px 0px 20px;
  position: relative;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.gender-field div {
  grid-column: 1/-1;
}

.gender-field .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.gender-field .radio .radio_input {
  display: none;
}

.gender-field .radio .radio_radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ffff;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
}

.gender-field .radio .radio_radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #fdff86;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.gender-field .radio .radio_input:checked + .radio_radio::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.submit-btn {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 620px) {
  .form-container {
    background-color: #333;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 60%;
    height: 80%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    gap: 5px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -webkit-box-shadow: 2px 4px 4px #0000002f;
            box-shadow: 2px 4px 4px #0000002f;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
  .form-title {
    grid-column: 7/-1;
    margin-top: 20px;
    line-height: 20px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    font-size: 1.2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home-img {
    width: 420px;
    height: 250px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .form-elements {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 7/-1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    padding-top: 30px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    background-color: #489dec;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-shadow: 2px 4px 4px #0000002f;
            box-shadow: 2px 4px 4px #0000002f;
  }
  .form-group {
    display: -ms-grid;
    display: grid;
    width: 90%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    position: relative;
  }
  .form-group input {
    width: 100%;
    height: 2rem;
    padding-left: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
  }
  .form-group label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-group label span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .submit-btn {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 10px;
  }
}

@media screen and (min-width: 960px) {
  .form-container {
    overflow-x: hidden;
    background-color: #333;
    overflow-y: hidden;
    width: 60%;
    height: 80%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    gap: 5px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -webkit-box-shadow: 2px 4px 4px #0000002f;
            box-shadow: 2px 4px 4px #0000002f;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
  .form-title {
    grid-column: 7/-1;
    margin-top: 20px;
    line-height: 20px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    font-size: 1.4rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home-img {
    width: 420px;
    height: 250px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .form-elements {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 7/-1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    padding-top: 30px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-shadow: 2px 4px 4px #0000002f;
            box-shadow: 2px 4px 4px #0000002f;
  }
  .form-group {
    display: -ms-grid;
    display: grid;
    width: 90%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    position: relative;
  }
  .form-group input {
    height: 1.7rem;
    padding-left: 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
  }
  .form-group label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-group label span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .submit-btn {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .form-container {
    width: 60%;
    height: 80%;
    background-color: #333;
    overflow-x: hidden;
  }
  .form-container .form-group {
    width: 90%;
  }
  .form-container .form-group input {
    height: 1.7rem;
    font-size: 1rem;
  }
  .form-container .form-group span {
    font-size: 1rem;
  }
  .form-title {
    grid-column: 7/-1;
    margin-top: 20px;
    line-height: 20px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    font-size: 1.4rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=home.style.css.map */