.todos-form {
  list-style: none;
  color: #f8f8f8;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}

.form-control {
  margin: 1rem 0;
}

.form-control input,
.form-control textarea {
  display: block;
  color: #000000;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000000;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #2b2a2a;
  border-radius: 5px;
  background: #ffffff;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  border-width: 3px;
  border-color: #43ffa7;
}

.radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.radio input {
  display: none;
}

.radio .radio__check {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
}

.radio .radio__check::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #43ffa7;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.radio input:checked + .radio__check::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-control-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.authentication {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.signup {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f0697f), color-stop(40%, white));
  background: linear-gradient(90deg, #f0697f 40%, white 40%);
}

.signup form {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.signup form .inputs-field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.signup form .image-profile {
  grid-column: 2/-1;
  grid-column: 2/-1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 100%;
  height: 100%;
}

.login {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #6c9afc), color-stop(40%, white));
  background: linear-gradient(90deg, #6c9afc 40%, white 40%);
}

.auth-image-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-image-controller img {
  width: 70%;
  height: 100%;
}

.footer-control {
  grid-column: 1/-1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-control p {
  color: #000000;
  font-weight: 700;
}

.new-todo {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #fff279), color-stop(40%, white));
  background: linear-gradient(90deg, #fff279 40%, white 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.new-todo form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.new-todo textarea {
  height: 150px;
}

.new-todo .new-todo-image-controller {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.new-todo .new-todo-image-controller img {
  width: 100%;
  height: 100%;
}

.update-todo {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #ffb85c), color-stop(40%, white));
  background: linear-gradient(90deg, #ffb85c 40%, white 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update-todo form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.update-todo form textarea {
  height: 150px;
}

.update-todo .edit-todo-image-controller {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.update-todo .edit-todo-image-controller img {
  padding-left: 40px;
  width: 100%;
  height: 100%;
}

@media (max-width: 960px) {
  .new-todo form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .new-todo-image-controller {
    display: none;
  }
}

@media (max-width: 768px) {
  .auth-image-controller {
    display: none;
  }
  form {
    grid-column: 1/-1;
  }
  .new-todo-image-controller {
    display: none;
  }
  .edit-todo-image-controller {
    display: none;
  }
}

@media (max-width: 430px) {
  .new-todo {
    width: 90%;
  }
  .form-control-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .authentication {
    width: 90%;
  }
  .signup form {
    -ms-grid-rows: 40px 1fr;
        grid-template-rows: 40px 1fr;
  }
  .signup form .inputs-field {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .signup form .image-profile {
    grid-column: 1/-1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media (max-width: 375px) {
  .authentication {
    width: 90%;
  }
  .update-todo {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .signup form {
    -ms-grid-rows: 40px 1fr;
        grid-template-rows: 40px 1fr;
  }
  .signup form .inputs-field {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .signup form .image-profile {
    grid-column: 1/-1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
/*# sourceMappingURL=NewTodo.style.css.map */