.todo-item {
	margin: 1rem 0;
	width: 80%;
	height: min-content;
}

.todo-item__info {
	padding: 1rem;
}

.todo-item__info h2,
.todo-item__info h3,
.todo-item__info p {
	margin: 0 0 0.5rem 0;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.todo-item__message {
	margin: 0;
	text-align: center;
	color: rgb(7, 255, 19);
	font-size: 1.2rem;
	font-weight: 600;
}

.complete {
	h2,
	h5,
	h4,
	h3,
	p {
		margin: 0 0 0.5rem 0;
		text-decoration: line-through;
		color: rgba(163, 160, 160, 0.411);
	}
}

.todo-item__actions {
	text-align: center;
	border-top: 2px solid rgb(207, 207, 207);
	display: flex;
	justify-content: center;
	button {
		cursor: pointer;
		margin: 0 10px;
		width: 25px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
}

.todo-item__actions a {
	margin: 0.5rem;
	text-decoration: none;
	color: #050709;
}

.todo-item__content {
	padding: 0;
	margin: 0;
	position: relative;
	display: grid;
	grid-template-columns: 10px 2fr 1fr;
	grid-template-rows: auto 40px;

	.todo-item__info {
		grid-column: 2/-1;
		grid-row: 1;
		align-self: center;
		justify-self: center;
		padding: 0;
		margin: 0 10px;
		text-align: center;
	}

	span {
		margin: 0;
		grid-row: 1/-1;
		grid-column: 1;
		padding: 0;
		margin: 0;
	}

	.todo-item__actions {
		grid-row: 2;
		padding: 0;
		margin: 0;
		grid-column: 2/-1;
	}

	.todo-item__message {
		grid-row: 1;
		grid-column: 3;
		display: none;
		align-self: center;
		padding: 0.8em;
	}
}

.Shopping {
	background: #fffc53;
}
.Payments {
	background: #fc35e1;
}
.Outers {
	background: #3498db;
}
