.todo-item {
	margin: 1.5rem 0;
	width: 80%;
	height: min-content;
	display: flex;
	flex-direction: column;

	span {
		margin-bottom: 14px;
	}
}

.todo-item__info {
	padding: 1rem;
}

.todo-item__info h2,
.todo-item__info h3,
.todo-item__info p {
	margin: 0 0 0.5rem 0;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.todo-item__message {
	margin: 0;
	text-align: center;
	color: rgb(7, 255, 19);
	font-size: 1.2rem;
	font-weight: 600;
}

.complete {
	h2,
	h5,
	h4,
	h3,
	p {
		margin: 0 0 0.5rem 0;
		text-decoration: line-through;
		color: rgba(0, 0, 0, 0.411);
	}
}

.todo-item__actions {
	text-align: center;
	display: flex;
	justify-content: center;

	button {
		cursor: pointer;
		margin: 0 10px;
		width: 25px;
		padding: 0;
		background-color: transparent;
		border: none;
		i {
			background: linear-gradient(225deg, #f0f0f0, #cacaca);
			box-shadow: -5px 5px 5px #a8a8a8, 5px -5px 5px #ffffff;
			font-size: 18px;
			&:hover {
				background: linear-gradient(225deg, #f0f0f0, #cacaca);
				box-shadow: -5px 5px 5px #a8a8a8, 4px -4px 6px #a8fdef;
			}
		}
	}
}

.todo-item__actions a {
	margin: 0.5rem;
	text-decoration: none;
	color: #050709;

	border-radius: 7px;
	background: linear-gradient(225deg, #f0f0f0, #cacaca);
	box-shadow: -5px 5px 10px #a8a8a8, 5px -5px 10px #ffffff;
}

.todo-item__content {
	padding: 0;
	margin: 0;
	position: relative;
	display: grid;
	grid-template-columns: 10px 2fr 1fr;
	grid-template-rows: auto 40px;

	.todo-item__info {
		grid-column: 2/-1;
		grid-row: 1;
		align-self: center;
		justify-self: center;
		padding: 0;
		margin: 0 10px;
		text-align: center;
	}

	span {
		margin: 0;
		grid-row: 1/-1;
		grid-column: 1;
		padding: 0;
		margin: 0;
	}

	.todo-item__actions {
		grid-row: 2;
		padding: 0;
		margin: 0;
		grid-column: 1/-1;
	}

	.todo-item__message {
		grid-row: 1;
		grid-column: 3;
		display: none;
		align-self: center;
		padding: 0.8em;
	}
}

.Shopping {
	border-radius: 7px;
	background: linear-gradient(225deg, #f0f0f0, #cacaca);
	box-shadow: -5px 5px 10px #a8a8a8, 5px -5px 10px #ffffff;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	justify-content: center;

	&::before {
		content: "";
		position: absolute;
		background: linear-gradient(145deg, #ffffff, #b8b8b8);
		box-shadow: 3px 3px 3px #b0b0b0, -8px -3px 3px #ffffff;
		width: 60px;
		height: 60px;
		border-radius: 0px 50% 50% 0px;
		z-index: 1;
	}
	&::after {
		content: "";
		position: absolute;
		background: linear-gradient(145deg, #ffdb0e, #ffee00);
		box-shadow: inset 5.41px 5.41px 3px #ffe81b, inset -5.41px -5.41px 3px #ffea74;
		width: 72px;
		height: 80px;
		border-radius: 0px 50% 50% 0px;
	}
}
.Payments {
	border-radius: 7px;
	background: linear-gradient(225deg, #f0f0f0, #cacaca);
	box-shadow: -5px 5px 10px #a8a8a8, 5px -5px 10px #ffffff;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	justify-content: center;

	&::before {
		content: "";
		position: absolute;
		background: linear-gradient(145deg, #ffffff, #b8b8b8);
		box-shadow: 3px 3px 3px #b0b0b0, -8px -3px 3px #ffffff;
		width: 60px;
		height: 60px;
		border-radius: 0px 50% 50% 0px;
		z-index: 1;
	}
	&::after {
		content: "";
		position: absolute;
		background: linear-gradient(145deg, #36ff0e, #00ff37);
		box-shadow: inset 5.41px 5.41px 3px #04ff3a, inset -5.41px -5.41px 3px #94ff86;
		width: 72px;
		height: 80px;
		border-radius: 0px 50% 50% 0px;
	}
}
.Others {
	border-radius: 7px;
	background: linear-gradient(225deg, #f0f0f0, #cacaca);
	box-shadow: -5px 5px 10px #a8a8a8, 5px -5px 10px #ffffff;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	justify-content: center;

	&::before {
		content: "";
		position: absolute;
		background: linear-gradient(145deg, #ffffff, #b8b8b8);
		box-shadow: 3px 3px 3px #b0b0b0, -8px -3px 3px #ffffff;
		width: 60px;
		height: 60px;
		border-radius: 0px 50% 50% 0px;
		z-index: 1;
	}
	&::after {
		content: "";
		position: absolute;
		background: linear-gradient(145deg, #0eb3ff, #3ae1ff);
		box-shadow: inset 5.41px 5.41px 3px #2cc3ff, inset -5.41px -5.41px 3px #84d8ff;
		width: 72px;
		height: 80px;
		border-radius: 0px 50% 50% 0px;
	}
}

@media (max-width: 430px) {
	.todo-item {
		width: 100%;
	}
}
