.todo-item {
	margin: 1rem 0;
	width: 80%;
	padding: 10px;
	height: min-content;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 60px;
	grid-template-rows: auto 1fr;

	background-color: #f3f3f3;
	box-shadow: -5px 5px 10px #5252526b, 5px -5px 10px #ffffff;

	span {
		margin-bottom: 8px;
		color: #000000;
		grid-row: 1;
		font-size: 1.1em;
	}
}

.todo-item__info {
	grid-row: 2/-1;
	grid-column: 1/2;
}

.todo-item__info h2,
.todo-item__info h3,
.todo-item__info p {
	margin: 0;
	margin-bottom: 16px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
}

.complete {
	h2,
	h5,
	h4,
	h3,
	p {
		margin: 0 0 0.5rem 0;
		text-decoration: line-through;
		color: rgba(0, 0, 0, 0.411);
	}
}

.todo-item__actions {
	grid-row: 1/-1;
	grid-column: 2/-1;

	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	button {
		cursor: pointer;
		margin: 0;
		width: 25px;
		padding: 0;
		background-color: transparent;
		border: none;
		i {
			font-size: 18px;
			position: relative;
			color: #51c3f8;
		}
	}
}

.tooltip--edit:hover {
	position: relative;
	&::after {
		background-color: #ffc72d;
		position: absolute;
		padding: 8px;
		border-radius: 15%;
		left: -47px;
		max-width: 100;
		bottom: -40%;
		transform: translate(-50%) scale(1);
		transform-origin: left center;
		transition: 50ms transform;
		content: attr(data-tooltip);
	}
	&::before {
		position: absolute;
		left: -20px;
		font-weight: 600;
		width: 0;
		height: 0;
		border: 0 solid transparent;
		border-bottom-width: 9px;
		border-top-width: 7px;
		border-left: 16px solid #ffc72d;
		bottom: 0;
		transform: translate(-50%);
		content: "";
	}
}
.tooltip--delete:hover {
	position: relative;

	&::after {
		background-color: #ffc72d;
		position: absolute;
		padding: 8px;
		border-radius: 15%;
		left: -47px;
		max-width: 100;
		bottom: -40%;
		transform: translate(-50%) scale(1);
		transform-origin: left center;
		transition: 50ms transform;
		content: attr(data-tooltip);
	}
	&::before {
		position: absolute;
		left: -14px;

		width: 0;
		height: 0;
		border: 0 solid transparent;
		border-bottom-width: 9px;
		border-top-width: 7px;
		border-left: 16px solid #ffc72d;
		bottom: 0;
		transform: translate(-50%);
		content: "";
	}
}
.tooltip--active:hover {
	position: relative;
	&::after {
		background-color: #ffc72d;
		position: absolute;
		padding: 8px;
		border-radius: 15%;
		left: -47px;
		max-width: 100;
		bottom: -40%;
		transform: translate(-50%) scale(1);
		transform-origin: left center;
		transition: 50ms transform;
		content: attr(data-tooltip);
	}
	&::before {
		position: absolute;
		left: -14px;

		width: 0;
		height: 0;
		border: 0 solid transparent;
		border-bottom-width: 9px;
		border-top-width: 7px;
		border-left: 16px solid #ffc72d;
		bottom: 0;
		transform: translate(-50%);
		content: "";
	}
}

.todo-item__actions a {
	margin: 0;
	text-decoration: none;
	color: #050709;

	border-radius: 7px;
}

.todo-item__content {
	padding: 0;
	margin: 0;
	position: relative;
	display: grid;
	grid-template-columns: 10px 2fr 1fr;
	grid-template-rows: auto 40px;

	.todo-item__info {
		grid-column: 2/-1;
		grid-row: 1;
		align-self: center;
		justify-self: center;
		padding: 0;
		margin: 0 10px;
		text-align: center;
	}

	span {
		margin: 0;
		grid-row: 1/-1;
		grid-column: 1;
		padding: 0;
		margin: 0;
	}

	.todo-item__actions {
		grid-row: 2;
		padding: 0;
		margin: 0;
		grid-column: 1/-1;
	}

	.todo-item__message {
		grid-row: 1;
		grid-column: 3;
		display: none;
		align-self: center;
		padding: 0.8em;
	}
}

@media (max-width: 430px) {
	.todo-item {
		width: 100%;
	}
}
